{% extends "base.html" %}

{% block titre %}{{parent()}} - Accueil{% endblock %}

{% block content %}
    <div class='row justify-content-center'>
        <div class='col-12 text-justify py-3'>
            <h1 class='text-center mb-5'>JUST JOB, Site aidant les personnes à mobilité réduite</h1>
          
        </div>
        
        <div class='col-12 col-md-6 p-4 text-justify'>
            <h2>Rejoignez la communauté !</h2>
            <div class='mt-4'>
                <p>Créez une nouvelle liste de souhaits pour Noël, pour votre anniversaire ou autre évènement spécial, afin que vos amis sachent ce qui vous plairait vraiment</p>
                <a href="{{path_for('inscription')}}" class='btn btn-primary d-block mx-auto'>Inscription</a>
            </div>
                <p>Créez un compte afin de retrouver vos listes sur tous vos appareils et pour gagner du temps</p>
            </div>
        </div>
       
    </div>
{% endblock %}
