{% extends "base.html" %}

{% block titre %}{{parent()}} - Ajouter Offre{% endblock %}


{% block content %}
<a href="{{path_for('AffichOffres')}}" class='btn btn-primary extensible e-120' title='Retour'><i class="fas fa-arrow-left"></i></a>
    <h1 class='text-center'>Ajouter une offre</h1>
    <form action="{{path_for('ajouterOffre')}}" method="POST" >
    	<div class='form-group'>
            <label for='profil'>Profil*</label>
            <input id='profil' name='profil' class='form-control' type='text' placeholder='Profil' value='{{get_data(["form", "profil"])}}' required>
        </div>
        <div class='form-group'>
            <label for='duree'>Durée*</label>
            <input id='duree' name='duree' class='form-control' type='text' placeholder="Durée de l'offre" value='{{get_data(["form", "duree"])}}' required>
        </div>
        <div class="form-group">
        	<label for='lieu'>Lieu de travail*</label>
        	<input type="lieu" name="lieu" class="form-control" type="text" placeholder="Lieu de travail" value='{{get_data(["form", "lieu"])}}' required>
        </div>

        <label for='etat' class='form-label d-block'>Etat</label>

        <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="choixEtat" id="r1" value="Disponible" checked >
              <label class="form-check-label" for="r1">Disponible</label>
        </div>
        <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="choixEtat" id="r2" value="Indisponible">
              <label class="form-check-label" for="r2">Indisponible</label>
        </div>

        <div class="form-group">
            <label for='activite'>Activité*</label>
            <input type="activite" name="activite" class="form-control" type="text" placeholder="Activité du poste" value='{{get_data(["form", "activite"])}}' required>
        </div>

	 	<div class='form-group'>
	    	<input type='submit' class='btn btn-primary mx-auto d-block' value="Ajouter Offre">
	    </div>
	    <small>
	    	<p>* : Champ obligatoire</p>
	    </small>
    </form>


{% endblock %}