<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset='utf-8'>
		<title>{% block titre %} Just Job {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<link rel="icon" href="{{base_url()}}/ressources/img/logo.ico">-->

		<!-- Bootstrap -->
		{% block css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="{{base_url()}}/ressources/css/base.css">
    <link rel="stylesheet" href="{{base_url()}}/ressources/css/test.css" >
		{% endblock %}
    </head>
    <body>
		{% block header %}
		<header class="navbar justify-content-center navbar-light">
		  <div class='col-4 d-none d-md-block'></div>
		  <a class="navbar-brand col-12 col-sm-6 col-md-4 text-center" href="{{ path_for('accueil') }}"><h1>Just Job</h1></a>
          <div class='col'>
              <ul class='navbar-nav justify-content-end flex-row'>
                  <li class="nav-item mx-1">
                     <a class="btn btn-primary" href="{{ path_for('AffichOffres')}}" title="Accéder aux offres d'emploi"><i class="fas fa-scroll"><span class='d-none d-lg-inline ml-2'></i>Offres d'Emploi</a>
                  </li>
                  <li>
                    <a class="btn btn-primary" href="" title="Covoiturage"><i class="fas fa-car"></i><span class='d-none d-lg-inline ml-2'>Covoiturage</a>
                  </li>
                  <li class="nav-item mx-1">
                    {% if est_connecte() %}
                      <a class="btn btn-primary" href="{{ path_for('afficherMonCompte')}}" title="Mon compte"><i class="fas fa-user"></i><span class='d-none d-lg-inline ml-2'>Mon compte</a>
                      <a class="btn btn-primary" href="{{ path_for('deconnexion')}}" title="Se déconnecter"><i class="fas fa-sign-out-alt"></i><span class='d-none d-lg-inline ml-2'>Déconnexion</a>
                    {% else %}
                      <a class="btn btn-primary" href="{{ path_for('formulaireConnexion')}}" title="Se conncter"><i class='fa fa-sign-in-alt'></i><span class='d-none d-lg-inline ml-2'>Connexion</a>
                    {% endif %}
                  </li>
             </ul>
        </div>
		</header>
		{% endblock %}

		{% block main %}
        <div class='py-5 base'>
    		  <div class='container main-container p-5'>
    			 <div class='content'>
                    {% block alerts %}
                        {% if "erreur" is flashed %}
                            <div class='alert alert-danger alert-dismissible fade show mx-auto text-center my-3'>
                                <i class='fa fa-exclamation-triangle'></i>
                                <span class='px-2'>{{ get_data("erreur")}}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                 </button>
                            </div>
                        {% elseif "avertissement" is flashed %}
                            <div class='alert alert-warning alert-dismissible fade show mx-auto text-center my-3'>
                                <i class='fa fa-exclamation-triangle'></i>
                                <span class='px-2'>{{ get_data("avertissement")}}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                 </button>
                            </div>
                        {% elseif "message" is flashed %}
                            <div class='alert alert-success alert-dismissible fade show mx-auto text-center my-3'>
                                <i class='fa fa-check'></i>
                                <span class='px-2'>{{ get_data("message")}}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                                 </button>
                            </div>
                        {% endif %}
                    {% endblock %}
    				{% block content %}
    				{% endblock %}
          </div>
        </div>
      </div>
		{% endblock %}
	{% block scripts %}
    	<script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
