{% extends "base.html" %}

{% block titre %}{{parent()}} - Connexion{% endblock %}

{% block content %}
<h2 class='text-center mb-4'>Connexion</h2>
    <form class='form-row' action="{{path_for('connexion')}}" method="POST">
        <div class='col-12 col-md-6 form-group'>
            <label for='email'>Email</label>
            <input id='email' name='email' class='form-control' type='text' placeholder="Email" required>
        </div>
        <div class='col-12 col-md-6 form-group'>
            <label for='mdp'>Mot de passe</label>
            <input id='mdp' name='mdp' class='form-control' type='password' placeholder='Mot de passe' required>
        </div>
        <div class='col-12 col-md-12 form-group d-flex align-items-end'>
            <input type='submit' class='btn btn-primary mt-3 mx-auto d-block' value='Se connecter'>
        </div>
    </form>

     <div class='col-12 col-md-12 form-group d-flex align-items-end'>
        <a href="{{path_for('formulaireInscription')}}" class='mx-auto d-block badge badge-primary'>Pas encore de compte ? Inscrivez-vous ici</a>
    </div>
{% endblock %}