{% extends "base.html" %}

{% block titre %}{{parent()}} - Inscription{% endblock %}

{% block content %}
<h2 class='text-center mb-4'>Inscription</h2>
    <form class='form-row mb-4' action="{{path_for('inscription')}}" method="POST">
        <div class='form-group col-12 col-md-6'>
            <label for='email'>Email</label>
            <input id='email' name='email' class='form-control' type='email' placeholder="Adresse email" required>
        </div>


        <div class='form-group col-12 col-md-6'>
            <label for='nom'>Nom</label>
            <input id='nom' name='nom' class='form-control' type='text' placeholder="Nom" required>
        </div>
        <div class='form-group col-12 col-md-6'>
            <label for='prenom'>Prénom</label>
            <input id='prenom' name='prenom' class='form-control' type='text' placeholder='prénom' required>
        </div>
        <div class='form-group col-12 col-md-6'>
            <label for='mdp'>Mot de passe</label>
            <input id='mdp' name='mdp' class='form-control' type='password' placeholder='Mot de passe' required>
        </div>
        <div class='form-group col-12 col-md-6'>
            <label for='confirmMdp'>Confirmation du mot de passe</label>
            <input id='confirmMdp' name='confirmMdp' class='form-control' type='password' placeholder='Mot de passe' required>
        </div>
        <div class='col-12 col-md-12 form-group d-flex align-items-end'>
            <input type='submit' class='btn btn-primary mt-3 mx-auto d-block' value='Créer un compte'>
        </div>
    </form>

    <div class='col-12 col-md-12 form-group d-flex align-items-end'>
        <a href="{{path_for('formulaireConnexion')}}" class='mx-auto d-block badge badge-primary'>Déja inscrit ! Connectez-vous ici</a>
    </div>
{% endblock %}