{% extends "base.html" %} 



{%block content %}
<div align="center">


{% for i in tabCate %}
Offre numero: {{i.id}} <br>
Domaine d'activite : {{i.activite}}<br>
Profile {{i.profil}}<br>
Duree : {{i.duree}}<br>
Lieu : {{i.lieu}}<br>

{% if i.etat %}
           <a href="{{path_for("afficherFormulairePostuler", {num : i.id})}}" class="btn-primary btn" title="Postuler"><i class="fas fa-edit"></i>Postuler</a>
{% endif %}
{% endfor %}

{% for i in tabEmploy %}
<a href="mailto:{{i.email}}" >{{i.email}}</a>
{% endfor %}
{%endblock%}



