{% extends "base.html" %} 



{%block content %}
<div align="center">
    <a href="{{path_for('afficherFormulaireRecherche')}}" class="btn-primary btn">Rechercher</a>
{% for offre in tabCate %}
	<a href="{{path_for('afficheOffreDetail', {num:offre.id})}}" class="list-group-item list-group-item-action flex-column align-items-start mt-4">
	 <div class="d-flex justify-content-center">
          <h3 class="mb-1">{{offre.activite}} : {{offre.profil}}</h3>
        </div>
        <p class="mb-2 mt-2">
            Durée : {{offre.duree}}</br>
        	Lieux : {{offre.lieu}}</br>

        	{% if offre.etat %}
        		<br><i>Disponible</i>
        	{% else %}
        		<br><i>Non disponible</i>
        	{% endif %}

        	<!--<a href="btn btn-primary"><i class="fas fa-users"></i> Voir les candidatures</a>-->
        	
        </p>
		
	</a>
	
	{% endfor %}

	

</div>
{%endblock%}


