{% extends "base.html" %}

{% block titre %}{{parent()}} - Postuler{% endblock %}

{% block content %}

<a href="{{path_for('afficheOffreDetail', {num : offre.id})}}" class='btn btn-primary extensible e-120' title='Retour'><i class="fas fa-arrow-left"></i></a>
    <h1 class='text-center'>Postuler</h1>
    <form action="{{path_for('ajouterPostuler', {num : offre.id})}}" method="POST" >
    	
    	<label class=" mt-5" for='lieu'>Véhicule</label>
    	<SELECT name="vehicule" size="1">
		<OPTION SELECTED>Aucun Véhicule
		<OPTION>Véhicule normal
		<OPTION>Véhicule spécialisé
		</SELECT>
        <div class='form-group'>
            <label class=" mt-2" for='lieu'>Adresse de départ (si besoin d'un véhicule)</label>
            <input id='lieu' name='lieu' class='form-control' type='text' placeholder="Entrez votre adresse de départ" value='{{get_data(["form", "lieu"])}}'>
        </div>

	 	<div class='form-group'>
	    	<input type='submit' class='btn btn-primary mx-auto d-block' value="Postuler">
	    </div>
    </form>

{% endblock %}