{% extends "base.html" %}

{% block content %}

<form>

  <div id="diplome">
    Diplome minimum requis :
    <select name="select_diplome" size="1">
      <option selected value="bac">BAC
      <option value="bac2">BAC+2
      <option value="bac3">BAC+3
      <option value="bac5">BAC+5
    </select>
  </div>

  <div id="dom_activite">
    Dommaine d'activite :
    <!-- A REMPLIR AVEC LA BASE DE DONNEE -->
    <select name="select_dom_act" size="1">
      <option selected value="null">
      <option value="admin">Administration
      <option value="batiment_tp">Batiment/Travaux Publics
      <option value="commerce_vente">Commerce et Vente
    </select>
  </div>

  <div id="handicap">Souffrez vous d'un handicap ?
    <input type="radio" name="handicap_req" id="handicap_yes" size="1">oui
    <input type="radio" name="handicap_req" id="handicap_no"size="1">non
  </div>

  <div id="handicap_type" class="hidden">De quel type de handicap souffrez vous ?
    <input type="radio" name="handicap_type_req" id="handicap_ph" size="1">Physique
    <input type="radio" name="handicap_type_req" id="handicap_me" size="1">Mental
  </div>

  <div id="handicap_physique" class="hidden">Votre handicap est-il :
    <input type="radio" name="handicap_ph_req" id="handicap_mental_descr">Moteur
    <input type="radio" name="handicap_ph_req" id="handicap_mental_descr">Auditif
    <input type="radio" name="handicap_ph_req" id="handicap_mental_descr">Visuel
  </div>

  <div id="handicap_mental" class="hidden">Veuillez decrire votre handicap :
    <input type="text" id="handicap_mental_descr">
  </div>

  <div id="deplacement">Avez vous besoin d'un moyen de transport ?
    <input type="radio" name="deplacement_req" size="1">oui
    <input type="radio" name="deplacement_req" size="1">non
  </div>

</form>
<a href="" class="btn-primary btn">Valider la recherche</a>

<script src="form_recherche_job.js"> </script>

{% endblock %}