{% extends "base.html" %}

{% block content %}
	
    <a href="{{path_for('afficherFormulaireOffre')}}" class='btn btn-primary extensible e-120}}' title='Ajouter une offre'><i class='fas fa-plus mr-2'></i>Ajouter une offre</a>
	{% for offre in offres %}
		 <a href="{{path_for('afficherMonOffre', {id:offre.id})}}" class="list-group-item list-group-item-action flex-column align-items-start mt-4">
            <div class="d-flex justify-content-center">
              <h3 class="mb-1">{{offre.activite}} : {{offre.profil}}</h3>
            </div>
            <p class="mb-2 mt-2">
                Durée : {{offre.duree}}</br>
            	Lieux : {{offre.lieu}}</br>

            	{% if offre.etat %}
            		<br><i>Disponible</i>
            	{% else %}
            		<br><i>Non disponible</i>
            	{% endif %}

            </p>
        </a>
        
      
	{% endfor %}

{% endblock%}