{% extends "base.html" %}

{% block content %}

<h2 class='mb-5 text-center'>{{offre.activite}} : {{offre.profil}}</h2>


<hr>
<h3 class='mt-3 mb-5 text-center'>Listes des candidatures</h3>

{% for cand in candidatures %}

	<div class="list-group-item list-group-item-action mt-4">
        <div class="justify-content-center">
        <b>{{cand.candidat.nom}} {{cand.candidat.prenom}}</b><br>
        <i>{{cand.candidat.nom}}</i>
        </div>
        
		{%  if cand.etat == "acceptee" %}
			<span class="text-primary">Cette candidature a été acceptée</span>
		{% else %}
	        {% if cand.etat == "refusee" %}
	        	<span class="text-danger">Cette candidature a été refusée</span>
	        {% else %}
		        <a href="{{path_for('choisirCandidature', {cand:cand.id})}}" class="col-lg-3 col-lg-offset-1 btn btn-primary" href="">Choisir cette candidatures</a>
		    {% endif %}
		{% endif %}
     </div>
{% else %}
	Vous n'avez pas encore reçu de candidatures
{% endfor %}


{% endblock %}