<link rel="stylesheet" type="text/css" href="test.css" >

<form>

  <div id="choix_prestation_transport">
    <ul>
      <li id="pc"><p>Proposer un co-voiturage</p>
      <li id="rc"><p>Rechercher un co-voiturage</p>
      <li id="rtp"><p>Reserver un transport particulier</p>
    </ul>
  </div>

  <div id="transport_pc" class="hidden">

    <!-- peut prendre fauteuil ? -->
    <div id="pc_coffre_fauteuil">Votre coffre peut-il contenir un fauteuil roulant non-pliable ?
      <input type="radio" name="fauteuil_non_pliable" id="fnp_yes" size="1">Oui
      <input type="radio" name="fauteuil_non_pliable" id="fnp_no"size="1">Non
    </div>

    <!-- accepte animaux ? -->
    <div id="pc_autorise_animaux">Acceptez vous d'emmener un animal ?
      <input type="radio" name="presence_animal" id="pa_yes" size="1">Oui
      <input type="radio" name="presence_animal" id="pa_no"size="1">Non
    </div>

    <!-- nb places -->
    <div id="capacite_place">De combien de places disposez-vous ?
      <input type="number" id="nb_places">
    </div>

    <!-- depart + heure -->
    <div id="depart_pc"> Entrez votre date et heure de depart :
      <input type="date" id="date_dep_pc">
      <input type="time" id="heure_dep_pc" required>
    </div>

    <!-- arrivee + heure estimee-->
    <div id="arrivee_pc"> Entrez la date d'arrivee estimee :
      <input type="date" id="date_dep_pc">
      <input type="time" id="heure_dep_pc" required>
    </div>

    <!-- cout a partager -->
    <div id="cout">Veuillez indiquer le cout total du trajet :
      <input type="number" id="cout_trajet"> euros
    </div>

    <!-- sexe -->
    <div id="sexe_conducteur">Veuillez indiquer votre sexe :
      <input type="radio" name="sexe" size="1">Homme
      <input type="radio" name="sexe" size="1">Femme
    </div>

    <!-- remarques diverses -->
    <div id="remarques_pc">Pour toute autre remarque, veuillez les renseigner ici :
      <input type="text" id="input_remarques_pc">
    </div>
  </div>

  <div id="transport_rc" class="hidden">

    <!-- fauteuil non pliable ? -->
    <div id="rc_coffre_fauteuil">Avez vous un fauteuil roulant non-pliable ?
      <input type="radio" name="fauteuil_non_pliable" id="fnp_yes" size="1">Oui
      <input type="radio" name="fauteuil_non_pliable" id="fnp_no"size="1">Non
    </div>

    <!-- accepte animaux ? -->
    <div id="rc_animaux">Emmenez vous un animal qui vous aide dans votre quotidien ? (chien pour aveugle,...)
      <input type="radio" name="presence_animal" id="pa_yes" size="1">Oui
      <input type="radio" name="presence_animal" id="pa_no"size="1">Non
    </div>

    <!-- depart + heure -->
    <div id="depart_rc"> Entrez votre date et heure de depart :
      <input type="date" id="date_dep_rc">
      <input type="time" id="heure_dep_rc" required>
    </div>

    <!-- arrivee + heure estimee-->
    <div id="arrivee_rc"> Entrez la date d'arrivee estimee :
      <input type="date" id="date_dep_rc">
      <input type="time" id="heure_dep_rc" required>
    </div>

    <!-- fourchette de cout -->
    <div id="rc_cout">Veuillez indiquer une fourchette de cout (il s'agit du cout total du trajet, a repartir entre tous les passagers) :
       <p>entre <input type="number" id="cout_trajet"> euros et <input type="number" id="cout_trajet"> euros </p>
    </div>

    <!-- sexe -->
    <div id="rc_sexe_passager">Veuillez indiquer votre sexe :
      <input type="radio" name="sexe" size="1">Homme
      <input type="radio" name="sexe" size="1">Femme
    </div>

    <!-- remarques diverses -->
    <div id="remarques_rc">Pour toute autre remarque, veuillez les renseigner ici :
      <input type="text" id="input_remarques_rc">
    </div>
  </div>

  <div id="transport_rtp" class="hidden">

    <!-- accompagnateur ? -->
    <div id="rc_animaux">Avez-vous un accompagnateur personnel ?
      <input type="radio" name="presence_accompagnateur" id="pa_yes" size="1">Oui
      <input type="radio" name="presence_accompagnateur" id="pa_no"size="1">Non
    </div>

    <!-- accepte animaux ? -->
    <div id="rtp_animaux">Emmenez vous un animal qui vous aide dans votre quotidien ? (chien pour aveugle,...)
      <input type="radio" name="presence_animal" id="pa_yes" size="1">Oui
      <input type="radio" name="presence_animal" id="pa_no"size="1">Non
    </div>

    <!-- sexe -->
    <div id="sexe_passager_rtp">Veuillez indiquer votre sexe :
      <input type="radio" name="sexe" size="1">Homme
      <input type="radio" name="sexe" size="1">Femme
    </div>

    <!-- depart + heure -->
    <div id="depart_rtp"> Entrez votre date et heure de depart :
      <input type="date" id="date_dep_rtp">
      <input type="time" id="heure_dep_rtp" required>
    </div>

    <!-- arrivee + heure estimee-->
    <div id="arrivee_rtp"> Entrez la date d'arrivee estimee :
      <input type="date" id="date_dep_rtp">
      <input type="time" id="heure_dep_rtp" required>
    </div>

  </div>

</form>

<script src="form_transport.js"> </script>
