.hidden{
  visibility : hidden;
  display : none;
}



#choix_prestation_transport {
  vertical-align : center;
}
#choix_prestation_transport li{
  float: left;
  background-color: #CCC;
}
#choix_prestation_transport li:hover{
  background-color: #DDD;
  cursor: pointer;
}
#choix_prestation_transport ul{
  list-style: none;
}
#choix_prestation_transport li p{
  padding-left: 10px;
  padding-right : 10px;
}
